img {
    width: 200px;
}
@font-face {
    font-family: fixedsys;
    src: url('fixedsys'),
    url('fixedsys.eot');
}

body {
    text-align: right;
    font-family: "fixedsysx";
}
body {
    text-align: center;
    font-family: "fixedsys";
background-color: #FFDF7F;
}
