img {
    width: 200px;
}
body {
    text-align: center;
    font-family: "Comic Sans MS";
}
body {
    text-align: center;
    font-family: "Comic Sans MS";
background-color: #FFDF7F;
}
body,
body a {
    color: 	#ff1493;
    }

.tagline {
    color: magenta;
    }

.tagline a {
    color: green;
    }

.flat-list.buttons li a {
    color: brown;
    }
    body {
        background-image: url(" http://purelyfacts.com/pics/items/animals/Anteater.jpg");
} 
 