img {
    width: 200px;
}
body {
    text-align: center;
    font-family: "Comic Sans MS";
}
body {
    text-align: center;
    font-family: "Comic Sans MS";
background-color: pink;
}
body,
body a {
    color: red;
    }

.tagline {
    color: magenta;
    }

.tagline a {
    color: green;
    }

.flat-list.buttons li a {
    color: brown;
    }