img {
    width: 200px;
}
@font-face {
    font-family: fixedsys;
    src: url('fixedsys'),
    url('fixedsys.ttf');
}

body {
    text-align: left;
    font-family: "fixedsys";
    color: white;
background-color: black;

}
a:link, a:visited {
    color: white;
    padding: 14px 25px;
    text-align: left; 
    text-decoration: underline;
    display: inline-block;
}
